/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    background-color: blue;
    width: 250px;
    padding: 20px;
}

.logo {
    color: #333;
    margin-bottom: 20px;
}

.menu {
    list-style: none;
}

.menu li {
    margin-bottom: 10px;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

.top-bar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }
  